body{
  background-color: #BAD0E5;
  color:#C74A4A;
  font-family:sans-serif;

}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #D98995;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #B7160C;
  font-size: 5em;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 10%;

}

h2{
  color: #6D9BC3;
  font-size: 2em;
  margin-left: 47%;
  margin-top: 3%;

}

a{
  text-decoration: none;
  color::#C74A4A;
}
/* unvisited link */
a:link {
  color: #C74A4A;
}

/* visited link */
a:visited {
  color: #C74A4A;
}

/* mouse over link */
a:hover {
  color: #D98995;
}

/* selected link */
a:active {
  color: #C74A4A;
}
