body{
  background-color: #E6FFFF;
  color:	#88453e; /* a gradient towards black of salmon */
  font-family:sans-serif;

}

.whitecolour{
  color: white:
}

hr{
  border-style: none;
  border-top-style:dotted;
  border-color: #88453e;
  border-width: 1px;
  width: 5%;
}


h1{
  color: #B7160C;
  font-size: 5em;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 10%;

}

h2{
  color: #6D9BC3;
  font-size: 2em;
  margin-left: 47%;
  margin-top: 3%;

}

h3{
  color: #b55d52;
  font-size: 3em;

}

h4{
  color:white;
  text-align: center;
  font-size: 2em;
}
p{
  font-size: 1.5em;
}

th{
  font-weight: bold;
  border-bottom-style: dotted;
}
td{
}
td a {
  color:#88453e;;
}
td a:link {
  color: #88453e;
}

td a:visited {
  color: #88453e;
}

td a:hover {
  color:#e51c23;
}



textarea{
  border-radius: 0.5em;
  border-style: hidden;
  background-color:  #ccfff2; /* minty green*/
}

a{
  text-decoration: none;
  color:white;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color:white;
}

/* selected link */
a:active {
  color: white;
}


.buttonAprendizagens {
  background-color: #580000; /* Dark Red*/
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonEditar {
  background-color: #004d00; /* Dark Green*/
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.5 em;
  margin: 4px 2px;
  cursor: pointer;
}

#LoginDots{
  border-color: #ff8f00; /* amber darken-3*/
  border-width: 10px;
}

#FCDRALogin{
  color:#e65100; /*  orange darken-4 */
}

#Login{
  color:#004d40;
}

.tealButton {
  background-color: #008080;
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.5 em;
  margin: 4px 2px;
  cursor: pointer;

}

.tealButtonDarker4 {
  background-color: #004d40;
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.5 em;
  margin: 4px 2px;
  cursor: pointer;

}

#AprendizagemButton{
  color:white;
}


.MenuTurmas{
  color: white;
  font-weight: bold;
}

#TurmaTag {
  color: #004d40;
}
