body{
  background-color: #E6FFFF;
  color:	#800000; /* 25% red*/
  font-family:sans-serif;

}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #D98995;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #B7160C;
  font-size: 5em;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 10%;

}

h2{
  color: #6D9BC3;
  font-size: 2em;
  margin-left: 47%;
  margin-top: 3%;

}

h3{
  color: #B7160C;
  font-size: 3em;

}

h4{
  color:white;
  text-align: center;
  font-size: 2em;
}
p{
  font-size: 1.5em;
}

th{
  font-weight: bold;
  border-bottom-style: dotted;
}
td{
}

textarea{
  border-radius: 0.5em;
  border-style: hidden;
  background-color:  #ccfff2; /* minty green*/
}

a{
  text-decoration: none;
  color:#C74A4A;
}
/* unvisited link */
a:link {
  color: #C74A4A;
}

/* visited link */
a:visited {
  color: #C74A4A;
}

/* mouse over link */
a:hover {
  color: #D98995;
}

/* selected link */
a:active {
  color: #C74A4A;
}


.buttonAprendizagens {
  background-color: #580000; /* Dark Red*/
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonEditar {
  background-color: #004d00; /* Dark Green*/
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.5 em;
  margin: 4px 2px;
  cursor: pointer;
}

.blueButton {
  background-color:#6D9BC3;
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.5 em;
  margin: 4px 2px;
  cursor: pointer;

}


.MenuTurmas{
  color: white;
  font-weight: bold;
}
